@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

a{
  text-decoration:none;
  color:inherit;
}
body{
 background: black;
 margin: 0px; 
 font-family: 'Noto Sans JP', sans-serif;
 color:snow;
 overflow-x: hidden;
}
header{
  color: snow;
  background-color:#be0000;
  padding: 50px;
  user-select: none;
}

header div{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
header h3{
  font-style: bold;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.text-background:hover{
  background-color:snow;
  color: #000;
  transform: skew(20deg);
  box-shadow: -5px 5px black;
}
.text-background:hover h3{
  transform: skew(-20deg); 
}

#title {
  text-align:center;
  margin-top: 0px;
  margin-left: 50px;
  font-size: 6em;
  background-color: #000;
  text-shadow: -3px 3px rgba(200,200,200,.15);
  box-shadow: -30px 15px snow;
  transform: skew(10deg);
}

#main-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px;
  margin-bottom:0px;
  row-gap: 50px
}

#img-divb h2{
  text-align:center;
}
.image{
 display:block;
 max-width: 90%;
 max-height: 90%;
 box-shadow: -30px 15px snow;
 border: 5px solid snow;
 margin: 0 auto;
}

.tribute-info h2 {
  display:inline-block;
  color: #000;
  background-color: snow;
  padding-right: 10px;
  font-style:bold;
  font-size:2em;
  text-shadow: -3px 3px rgba(0,0,0,0.15);
}

.tribute-info p{
  font-size:1.3em;
  transform:skew(2deg);
  margin: 50px
}

.info-background {
  background-color: #be0000;
  transform: skew(-2deg);
  border: 5px solid snow
}

#second-topic{
  display:inline-block;
  text-align:center
}

#info-backgroundb{
  transform:skew(2deg);
  margin-bottom:0px
}
#info-backgroundb p{
  transform:skew(-2deg);
}

#imageb{
  margin-left: 50px;
  margin-bottom:0px
}

footer{
  color: snow;
  background-color:#be0000;
  padding: 50px;
  user-select: none;
  margin-top: 0px;
  justify-content:center;
  text-align:center;
}
#learn-more{
  display:inline-block;
  box-shadow: -10px 5px snow;
  background-color: #000;
}
#tribute-link{
  text-decoration: underline;
}

@media (max-width: 1000px){
  
  #main-content{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin:10px;
    margin-top:30px;
  }
  #title{
    font-size:3em;
    margin-top:30px;
  }
  header h3{
    font-size: 1em;
    margin: 30px;  
    white-space:nowrap;
  }
  #first-topic {
    text-align: center;
  }
  #img-caption{
    text-align: center;
    margin-bottom:0px;
  }
  #image{
    max-width: 70%;
  }
  .info-background{
    margin: 0px;
    transform: skew(0deg); 
   
  }
  .info-background p{
    transform: skew(0deg)
  }
  #info-backgroundb{
    transform: skew(0deg)
  }
  #info-backgroundb p{
    transform: skew(0deg)
  }
  #imageb{
    margin-left: 40px;
  }
  #tribute-info{
    text-align:left;
    margin:20px;
  }
  #tribute-infob{
    text-align:left;
    margin:20px;
  }
}

@media(max-width:500px){
  header h3{
    margin-left: 10px;
    margin-right:10px;
  }
}